<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="web_service">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/lib"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resource"/>
        <dependent-module archiveName="dom4j-2.1.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/dom4j-2.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxb-runtime-2.3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/jaxb-runtime-2.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="antlr-2.7.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/antlr-2.7.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-transaction-api_1.2_spec-1.1.1.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/jboss-transaction-api_1.2_spec-1.1.1.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-commons-annotations-5.1.0.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/hibernate-commons-annotations-5.1.0.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="txw2-2.3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/txw2-2.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javax.persistence-api-2.2.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/javax.persistence-api-2.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jboss-logging-3.3.2.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/jboss-logging-3.3.2.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="classmate-1.3.4.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/classmate-1.3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="byte-buddy-1.9.10.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/byte-buddy-1.9.10.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jaxb-api-2.3.1.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/jaxb-api-2.3.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="istack-commons-runtime-3.0.7.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/istack-commons-runtime-3.0.7.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="hibernate-core-5.4.2.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/hibernate-core-5.4.2.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="stax-ex-1.8.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/stax-ex-1.8.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="jandex-2.0.5.Final.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/jandex-2.0.5.Final.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="FastInfoset-1.2.15.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/FastInfoset-1.2.15.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javax.activation-api-1.2.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/javax.activation-api-1.2.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="javassist-3.24.0-GA.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib//home/den/git/web_service/web_service/lib/javassist-3.24.0-GA.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="postgresql-42.2.6.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/postgresql-42.2.6.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-4.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/poi-4.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-ooxml-4.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/poi-ooxml-4.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="xmlbeans-3.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/xmlbeans-3.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections4-4.3.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/commons-collections4-4.3.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-compress-1.18.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/commons-compress-1.18.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="poi-ooxml-schemas-4.1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/classpath/lib/web_service/lib/poi-ooxml-schemas-4.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="web_service"/>
        <property name="java-output-path" value="/web_service/build/classes"/>
    </wb-module>
</project-modules>
